<mat-card>
  <mat-card-title>New Post</mat-card-title>
  <mat-card-content>
    <mat-form-field>
      <input matInput type="text" width="100%" [(ngModel)]="enteredTitleValue">
    </mat-form-field>
    <mat-form-field>
      <textarea matNativeControl rows="6" width="100%" [(ngModel)]="enteredValue"></textarea>
    </mat-form-field>
  </mat-card-content>
<mat-card-actions>
  <button
  color="primary"
  mat-raised-button (click)="onAddPost()"> Save Post</button>
</mat-card-actions>

</mat-card>

